<section id="general-tabs">
  <h3>General Tabs</h3>

  <div class="introduction editorial">
    <div class="intro-text">
      <p>Optional introductory text.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laborum harum saepe obcaecati asperiores, ut magni minima culpa, laudantium ducimus ipsam consectetur illo voluptates labore. Libero deleniti odit placeat laudantium.</p>
    </div>

    <app-message-block>
      <p>Optional info or alert</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laborum harum saepe obcaecati asperiores, ut magni minima culpa, laudantium ducimus ipsam consectetur illo voluptates labore. Libero deleniti odit placeat laudantium.
    </app-message-block>
  </div>

  <app-tabs class="block-style" label="Demo and Code">
    <app-tab-panel class="block-style" tabTitle="Demo" [isActive]="true">

      <app-tabs label="Tabs for demo">
        <app-tab-panel tabTitle="First Tab" [isActive]="true">
          <p>This is the content of first tab</p>
        </app-tab-panel>
        <app-tab-panel tabTitle="Second Tab">
          <p>This is the content of second tab</p>
        </app-tab-panel>
        <app-tab-panel tabTitle="Third Tab">
          <p>This is the content of third tab</p>
        </app-tab-panel>
      </app-tabs>

    </app-tab-panel>
    <app-tab-panel class="block-style" tabTitle="Code">
      <pre>
&lt;app-tabs label=&#34;Tabs for demo&#34;&gt;
  &lt;app-tab-panel tabTitle=&#34;First Tab&#34; [isActive]=&#34;true&#34;&gt;
    &lt;NG-CONTENT&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Second Tab&#34;&gt;
    &lt;NG-CONTENT&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Third Tab&#34;&gt;
    &lt;NG-CONTENT&gt;
  &lt;/app-tab-panel&gt;
&lt;/app-tabs&gt;
      </pre>
    </app-tab-panel>
  </app-tabs>

</section>

<section id="deletable-tabs">
  <h3>Deletable Tabs</h3>

  <div class="introduction editorial">
    <div class="intro-text">
      <p>Optional introductory text.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laborum harum saepe obcaecati asperiores, ut magni minima culpa, laudantium ducimus ipsam consectetur illo voluptates labore. Libero deleniti odit placeat laudantium.</p>
    </div>
  </div>

  <app-tabs class="block-style" label="Demo and Code">
    <app-tab-panel class="block-style" tabTitle="Demo" [isActive]="true">

      <app-tabs label="Demo for deletable tabs" [deletable]="true">
        <app-tab-panel tabTitle="First Tab" [isActive]="true">
          <p>This is the content of first tab</p>
        </app-tab-panel>
        <app-tab-panel tabTitle="Second Tab">
          <p>This is the content of second tab</p>
        </app-tab-panel>
        <app-tab-panel tabTitle="Third Tab">
          <p>This is the content of third tab</p>
        </app-tab-panel>
      </app-tabs>

    </app-tab-panel>
    <app-tab-panel class="block-style" tabTitle="Code">
      <pre>
&lt;app-tabs label=&#34;Tabs for demo&#34;  [deletable]=&#34;true&#34; &gt;
  &lt;app-tab-panel tabTitle=&#34;First Tab&#34; [isActive]=&#34;true&#34;&gt;
    &lt;NG-CONTENT&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Second Tab&#34;&gt;
    &lt;NG-CONTENT&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Third Tab&#34;&gt;
    &lt;NG-CONTENT&gt;
  &lt;/app-tab-panel&gt;
&lt;/app-tabs&gt;
      </pre>
    </app-tab-panel>
  </app-tabs>

</section>

<section id="responsive-tabs">
  <h3>Responsiveness</h3>

  <div class="introduction editorial">
    <div class="intro-text">
      <p>Optional introductory text.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laborum harum saepe obcaecati asperiores, ut magni minima culpa, laudantium ducimus ipsam consectetur illo voluptates labore. Libero deleniti odit placeat laudantium.</p>
    </div>
  </div>

  <app-tabs class="block-style" label="Demo and Code">
    <app-tab-panel class="block-style" tabTitle="Demo" [isActive]="true">

      <div style="width: 50%; margin-bottom: 2rem;">
        <app-tabs label="Demo for deletable tabs">
          <app-tab-panel tabTitle="First Tab" svgName="nav-forms" svgType="Forms" [isActive]="true">
            <p>This is the content of first tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Second Tab" svgName="nav-blocks" svgType="Blocks" >
            <p>This is the content of second tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Third Tab" svgName="nav-feedbacks" svgType="Feedbacks" >
            <p>This is the content of third tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Forth Tab" svgName="nav-forms" svgType="Forms">
            <p>This is the content of forth tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Fifth Tab" svgName="nav-blocks" svgType="Blocks" >
            <p>This is the content of fifth tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Sixth Tab" svgName="nav-feedbacks" svgType="Feedbacks" >
            <p>This is the content of sixth tab</p>
          </app-tab-panel>
        </app-tabs>
      </div>
      <div style="width: 50%;">
        <app-tabs label="Demo for deletable tabs" [handleScroll]="true">
          <app-tab-panel tabTitle="First Tab" svgName="nav-forms" svgType="Forms" [isActive]="true">
            <p>This is the content of first tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Second Tab" svgName="nav-blocks" svgType="Blocks" >
            <p>This is the content of second tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Third Tab" svgName="nav-feedbacks" svgType="Feedbacks" >
            <p>This is the content of third tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Forth Tab" svgName="nav-forms" svgType="Forms">
            <p>This is the content of forth tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Fifth Tab" svgName="nav-blocks" svgType="Blocks" >
            <p>This is the content of fifth tab</p>
          </app-tab-panel>
          <app-tab-panel tabTitle="Sixth Tab" svgName="nav-feedbacks" svgType="Feedbacks" >
            <p>This is the content of sixth tab</p>
          </app-tab-panel>
        </app-tabs>
      </div>

    </app-tab-panel>
    <app-tab-panel class="block-style" tabTitle="Code">
      <pre>
&lt;app-tabs label=&#34;Demo for deletable tabs&#34;&gt;
  &lt;app-tab-panel tabTitle=&#34;First Tab&#34; svgName=&#34;nav-forms&#34; svgType=&#34;Forms&#34; [isActive]=&#34;true&#34;&gt;
    &lt;p&gt;This is the content of first tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Second Tab&#34; svgName=&#34;nav-blocks&#34; svgType=&#34;Blocks&#34; &gt;
    &lt;p&gt;This is the content of second tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Third Tab&#34; svgName=&#34;nav-feedbacks&#34; svgType=&#34;Feedbacks&#34; &gt;
    &lt;p&gt;This is the content of third tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Forth Tab&#34; svgName=&#34;nav-forms&#34; svgType=&#34;Forms&#34;&gt;
    &lt;p&gt;This is the content of forth tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Fifth Tab&#34; svgName=&#34;nav-blocks&#34; svgType=&#34;Blocks&#34; &gt;
    &lt;p&gt;This is the content of fifth tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Sixth Tab&#34; svgName=&#34;nav-feedbacks&#34; svgType=&#34;Feedbacks&#34; &gt;
    &lt;p&gt;This is the content of sixth tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
&lt;/app-tabs&gt;

&lt;app-tabs label=&#34;Demo for deletable tabs&#34; [handleScroll]=&#34;true&#34;&gt;
  &lt;app-tab-panel tabTitle=&#34;First Tab&#34; svgName=&#34;nav-forms&#34; svgType=&#34;Forms&#34; [isActive]=&#34;true&#34;&gt;
    &lt;p&gt;This is the content of first tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Second Tab&#34; svgName=&#34;nav-blocks&#34; svgType=&#34;Blocks&#34; &gt;
    &lt;p&gt;This is the content of second tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Third Tab&#34; svgName=&#34;nav-feedbacks&#34; svgType=&#34;Feedbacks&#34; &gt;
    &lt;p&gt;This is the content of third tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Forth Tab&#34; svgName=&#34;nav-forms&#34; svgType=&#34;Forms&#34;&gt;
    &lt;p&gt;This is the content of forth tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Fifth Tab&#34; svgName=&#34;nav-blocks&#34; svgType=&#34;Blocks&#34; &gt;
    &lt;p&gt;This is the content of fifth tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
  &lt;app-tab-panel tabTitle=&#34;Sixth Tab&#34; svgName=&#34;nav-feedbacks&#34; svgType=&#34;Feedbacks&#34; &gt;
    &lt;p&gt;This is the content of sixth tab&lt;/p&gt;
  &lt;/app-tab-panel&gt;
&lt;/app-tabs&gt;
      </pre>
    </app-tab-panel>
  </app-tabs>

</section>

<section id="props-n-events">
  <h3>Properties and Events</h3>

  <table class="adaptable">
    <caption>Properties applicable to the component <code>app-tabs</code></caption>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Default</th>
      <th scope="col">Description</th>
    </tr>
    <tr>
      <td data-head="Name">label *</td>
      <td data-head="Type">string</td>
      <td data-head="Default">--</td>
      <td>Describes the nature of the group of tabs</td>
    </tr>
    <tr>
      <td data-head="Name">[deletable]</td>
      <td data-head="Type">boolean</td>
      <td data-head="Default">false</td>
      <td>Adds delete button to tabs</td>
    </tr>
    <tr>
      <td data-head="Name">[handleScroll]</td>
      <td data-head="Type">boolean</td>
      <td data-head="Default">false</td>
      <td>Allows to add buttons to handle the scroll of tabs</td>
    </tr>
    <tr>
      <td data-head="Name">startIndexActiv</td>
      <td data-head="Type">number</td>
      <td data-head="Default">0</td>
      <td>Outputs index of deleted tab</td>
    </tr>
    <tr>
      <td data-head="Name">discrete</td>
      <td data-head="Type">(class)</td>
      <td data-head="Default">--</td>
      <td>Simplifies tabs design style</td>
    </tr>
  </table>
  <table class="adaptable">
    <caption>Properties applicable to the component <code>app-tab-panel</code></caption>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Default</th>
      <th scope="col">Description</th>
    </tr>
    <tr>
      <td data-head="Name">[isActive] *</td>
      <td data-head="Type">boolean</td>
      <td data-head="Default">--</td>
      <td>Sets default selected tab</td>
    </tr>
    <tr>
      <td data-head="Name">tabTitle *</td>
      <td data-head="Type">string</td>
      <td data-head="Default">--</td>
      <td>Label for the tab</td>
    </tr>
    <tr>
      <td data-head="Name">[adaptable]</td>
      <td data-head="Type">boolean</td>
      <td data-head="Default">false</td>
      <td>Allows tab container to have fixed height and vertical scroll</td>
    </tr>
    <tr>
      <td data-head="Name">svgName</td>
      <td data-head="Type">string</td>
      <td data-head="Default">--</td>
      <td>SVG image ID (from index svg sprite)</td>
    </tr>
    <tr>
      <td data-head="Name">svgType</td>
      <td data-head="Type">string</td>
      <td data-head="Default">--</td>
      <td>SVG image alternative text (* mandatory if svgName is set)</td>
    </tr>
  </table>

  <table class="adaptable">
    <caption>Events for <code>app-tabs</code></caption>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Parameters</th>
      <th scope="col">Description</th>
    </tr>
    <tr>
      <td data-head="Name">onChange</td>
      <td data-head="Parameters">
        event.originalEvent: Click event
        <br />
        event.index: Index of the current selected tab or dragged tab
      </td>
      <td>Callback to invoke on tab change</td>
    </tr>
    <tr>
      <td data-head="Name">onClose</td>
      <td data-head="Parameters">
        event.originalEvent: Click event
        <br />
        event.index: Index of the current deleted tab
      </td>
      <td>Callback to invoke on tab close</td>
    </tr>
  </table>
  <p><em>* mandatory properties</em></p>
</section>
